.boton {
  background-color: #117059;
  color: white;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  top: -20px;
  margin-top: 100%;
}

.inicio {
  background-color: black;
  border: 0;
  border-color: black;
  overflow: hidden;
  width: 100%;
}

.pWhite {
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: 400;
  color: rgba(225, 226, 231, 1);
  width: 532px;
  height: 38px;
}

body {
  margin:0;
  padding:0
}

h1 {
  color: rgba(2, 196, 195, 1);
  font-size: 64px;
  font-family: "Open Sans";
  font-weight: 400;
  width: 600px;
  height: 261px;
}
h2 {
  font-size: 45px;
  font-family: "Arial Rounded MT Bold";
  font-weight: 400;
  display: block;
  width: 100%;
}

h3 {
  font-size: 32px;
  font-family: "Arial Rounded MT Bold";
  font-weight: 400;
}

p{
  font-size: 22px;
  font-family: "Arial Rounded MT Bold";
  font-weight: 400;
}

.columns{ 
  display:flex;
}

.columna{
  padding: 25px;
  margin:0 10px;
  text-align:left;
  border-radius: 10px;
}

